.array-container {
    position: center;
}

.array-bar {
    display: inline-block;
    margin: 0 1px;
    width: 30px;
}

.box {
    align-self: center;
    align-content: center;
    alignment-baseline: center;
}

.disabled-text{
    color: #C6C6C6;
}